<h2>Welcome to Donald's Records.</h2>
<p>This website displays all the records that I have for sale. </p>

<p>Please look through them and let me know if you are interested in any.</p>

<p>To search by artist or label <%= link_to 'click here', :action => 'list' %> 
	(You can also use this to display all records currently available).
</p>
<p>To search by A to Z <%= link_to 'click here', :action => 'atoz' %> .</p>